<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form'>

  <div class='first-input'>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div class='form-div'>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div class='form-div'>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div class='form-div'>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_field :comment %>
  </div>

  <div class='form-div'>
    <%= form.label :category, style: "display: block" %>
    <div class='checkbox-container'>
    <div class='checkbox-div'>
    <%= label_tag(:rsvp, "RSVP") %>
    <%= form.radio_button :category, 'RSVP', class: 'checkbox'%>
    </div>
    <div class='checkbox-div'>
    <%= label_tag(:undecided, "undecided") %>
    <%= form.radio_button :category, 'undecided', class: 'checkbox' %>
    </div>
    <div class='checkbox-div'>
    <%= label_tag(:not_coming, "not coming") %>
    <%= form.radio_button :category, 'not coming', class: 'checkbox' %>
    </div>
    </div>
  </div>

  <div class='form-div'>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div class='form-div'>
    <%= form.submit 'Register', class: 'register' %>
  </div>
  </div>
<% end %>
